<!DOCTYPE html>

<html>

<head>
    <title> About </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href = "/css/styles.css">
</head>

<body>
     <div class="main-content">
         {{>header}}
         <p>This site was created by Praneeth Reddy.It uses data from sources like mapbox.com and darksky.net</p>
          <img class="portrait" src="/img/img.jpg">
      </div>
    {{>footer}}
</body>


</html>